<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-single-heading" jhiTranslate="katalogApp.single.home.createOrEditLabel">Create or edit a Single</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!single.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="single.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="katalogApp.single.wort" for="field_wort">Wort</label>
                    <input type="text" class="form-control" name="wort" id="field_wort"
                        [(ngModel)]="single.wort" required/>
                    <div [hidden]="!(editForm.controls.wort?.dirty && editForm.controls.wort?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.wort?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="katalogApp.single.sprache" for="field_sprache">Sprache</label>
                    <select class="form-control" id="field_sprache" name="sprache" [(ngModel)]="single.sprache">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="spracheOption.id === single.sprache?.id ? single.sprache : spracheOption" *ngFor="let spracheOption of spraches; trackBy: trackSpracheById">{{spracheOption.sprachCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="katalogApp.single.gruppe" for="field_gruppe">Gruppe</label>
                    <select class="form-control" id="field_gruppe" name="gruppe" [(ngModel)]="single.gruppe" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gruppeOption.id === single.gruppe?.id ? single.gruppe : gruppeOption" *ngFor="let gruppeOption of gruppes; trackBy: trackGruppeById">{{gruppeOption.gruppe}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="katalogApp.single.wort" for="field_wort">Wort</label>
                    <select class="form-control" id="field_wort" multiple name="wort" [(ngModel)]="single.worts">
                        <option [ngValue]="getSelected(single.worts, singleOption)" *ngFor="let singleOption of singles; trackBy: trackSingleById">{{singleOption.single}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
