<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="single">
            <h2><span jhiTranslate="katalogApp.single.detail.title">Single</span> {{single.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="katalogApp.single.wort">Wort</span></dt>
                <dd>
                    <span>{{single.wort}}</span>
                </dd>
                <dt><span jhiTranslate="katalogApp.single.sprache">Sprache</span></dt>
                <dd>
                    <div *ngIf="single.sprache">
                        <a [routerLink]="['/sprache', single.sprache?.id, 'view']">{{single.sprache?.sprachCode}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="katalogApp.single.gruppe">Gruppe</span></dt>
                <dd>
                    <div *ngIf="single.gruppe">
                        <a [routerLink]="['/gruppe', single.gruppe?.id, 'view']">{{single.gruppe?.gruppe}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="katalogApp.single.wort">Wort</span></dt>
                <dd>
                    <span *ngFor="let wort of single.worts; let last = last">
                        <a [routerLink]="['/single', wort?.id, 'view' ]">{{wort.single}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/single', single.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
