<div>
    <h2 id="page-heading">
        <span jhiTranslate="katalogApp.single.home.title">Singles</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-single" [routerLink]="['/single/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="katalogApp.single.home.createLabel">
            Create new Single
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="singles">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="wort"><span jhiTranslate="katalogApp.single.wort">Wort</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sprachCode.id"><span jhiTranslate="katalogApp.single.sprachCode">Sprach Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gruppenCode.id"><span jhiTranslate="katalogApp.single.gruppenCode">Gruppen Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let single of singles ;trackBy: trackId">
                <td><a [routerLink]="['/single', single.id, 'view' ]">{{single.id}}</a></td>
                <td>{{single.wort}}</td>
                <td>
                    <div *ngIf="single.sprachCode">
                        <a [routerLink]="['../sprache', single.sprachCode?.id, 'view' ]" >{{single.sprachCode?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="single.gruppenCode">
                        <a [routerLink]="['../gruppe', single.gruppenCode?.id, 'view' ]" >{{single.gruppenCode?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/single', single.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/single', single.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'single', { outlets: { popup: single.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="singles && singles.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
