<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gruppe">
            <h2><span jhiTranslate="katalogApp.gruppe.detail.title">Gruppe</span> {{gruppe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="katalogApp.gruppe.gruppenCode">Gruppen Code</span></dt>
                <dd>
                    <span>{{gruppe.gruppenCode}}</span>
                </dd>
                <dt><span jhiTranslate="katalogApp.gruppe.gruppenBezeichnung">Gruppen Bezeichnung</span></dt>
                <dd>
                    <span>{{gruppe.gruppenBezeichnung}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gruppe', gruppe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
