<div>
    <h2 id="page-heading">
        <span jhiTranslate="katalogApp.wort.home.title">Worts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wort" [routerLink]="['/wort/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="katalogApp.wort.home.createLabel">
            Create new Wort
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="worts">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="intId"><span jhiTranslate="katalogApp.wort.intId">Int Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="eWort"><span jhiTranslate="katalogApp.wort.eWort">E Wort</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="spracheSprachCode"><span jhiTranslate="katalogApp.wort.sprache">Sprache</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gruppeGruppenCode"><span jhiTranslate="katalogApp.wort.gruppe">Gruppe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wort of worts ;trackBy: trackId">
                <td><a [routerLink]="['/wort', wort.id, 'view' ]">{{wort.id}}</a></td>
                <td>{{wort.intId}}</td>
                <td>{{wort.eWort}}</td>
                <td>
                    <div *ngIf="wort.spracheId">
                        <a [routerLink]="['../sprache', wort.spracheId , 'view' ]" >{{wort.spracheSprachCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="wort.gruppeId">
                        <a [routerLink]="['../gruppe', wort.gruppeId , 'view' ]" >{{wort.gruppeGruppenCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/wort', wort.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/wort', wort.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'wort', { outlets: { popup: wort.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="worts && worts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
