<div>
    <h2 id="page-heading">
        <span jhiTranslate="katalogApp.ausdruck.home.title">Ausdrucks</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ausdruck" [routerLink]="['/ausdruck/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="katalogApp.ausdruck.home.createLabel">
            Create new Ausdruck
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="ausdrucks">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="ausdruck"><span jhiTranslate="katalogApp.ausdruck.ausdruck">Ausdruck</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="sprache.sprache"><span jhiTranslate="katalogApp.ausdruck.sprache">Sprache</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gruppe.gruppe"><span jhiTranslate="katalogApp.ausdruck.gruppe">Gruppe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ausdruck of ausdrucks ;trackBy: trackId">
                <td><a [routerLink]="['/ausdruck', ausdruck.id, 'view' ]">{{ausdruck.id}}</a></td>
                <td>{{ausdruck.ausdruck}}</td>
                <td>
                    <div *ngIf="ausdruck.sprache">
                        <a [routerLink]="['../sprache', ausdruck.sprache?.id, 'view' ]" >{{ausdruck.sprache?.sprache}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="ausdruck.gruppe">
                        <a [routerLink]="['../gruppe', ausdruck.gruppe?.id, 'view' ]" >{{ausdruck.gruppe?.gruppe}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/ausdruck', ausdruck.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/ausdruck', ausdruck.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'ausdruck', { outlets: { popup: ausdruck.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="ausdrucks && ausdrucks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
