<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-ausdruck-heading" jhiTranslate="katalogApp.ausdruck.home.createOrEditLabel">Create or edit a Ausdruck</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!ausdruck.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="ausdruck.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="katalogApp.ausdruck.ausdruck" for="field_ausdruck">Ausdruck</label>
                    <input type="text" class="form-control" name="ausdruck" id="field_ausdruck"
                        [(ngModel)]="ausdruck.ausdruck" required/>
                    <div [hidden]="!(editForm.controls.ausdruck?.dirty && editForm.controls.ausdruck?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ausdruck?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="katalogApp.ausdruck.sprache" for="field_sprache">Sprache</label>
                    <select class="form-control" id="field_sprache" name="sprache" [(ngModel)]="ausdruck.spracheId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="spracheOption.id" *ngFor="let spracheOption of spraches; trackBy: trackSpracheById">{{spracheOption.sprachCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="katalogApp.ausdruck.gruppe" for="field_gruppe">Gruppe</label>
                    <select class="form-control" id="field_gruppe" name="gruppe" [(ngModel)]="ausdruck.gruppeId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gruppeOption.id" *ngFor="let gruppeOption of gruppes; trackBy: trackGruppeById">{{gruppeOption.gruppenCode}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="katalogApp.ausdruck.einzelwort" for="field_einzelwort">Einzelwort</label>
                    <select class="form-control" id="field_einzelwort" multiple name="einzelwort" [(ngModel)]="ausdruck.einzelworts">
                        <option [ngValue]="getSelected(ausdruck.einzelworts, wortOption)" *ngFor="let wortOption of worts; trackBy: trackWortById">{{wortOption.eWort}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
